body {
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	margin: 60px auto;
	width: 70%;
}

nav ul, footer ul {
	padding: 0px;
	list-style: none;
	font-weight: bold;
}

nav ul li, footer ul li {
	display: inline;
	margin-right: 20px;
}

h1 {
	font-size: 3em;
}

p, li {
	font-size: 1.5em;
	line-height: 1.4em;
	color: #333;
}

footer {
	border-top: 1px solid #d5d5d5;
	font-size: .8em;
}

ul.posts {
	margin: 20px auto 40px;
	padding-left: 0px;
}

ul.posts li {
	list-style: none;
}

pre {
	font-size: 1.25em;
	padding: 10px;
	margin: 0 0 10px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	padding: 10px;
	line-height: 1.25;
}

pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
}

code {
	padding: 2px 4px;
	background-color: #f5f5f5;
}