<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" type="image/png" href="/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="alternate" type="application/rss+xml" title="lobd blog RSS feed" href="http://blog.lobid.org/feed.xml" />
		<script async defer src="https://hypothes.is/embed.js"></script>
		<script src="/javascripts/anchor.min.js"></script>
		{% if site.tags != "" %}
			{% include collect_tags.html %}
		{% endif %}
		{% seo %}
	</head>
	<body>
		<nav>
			<ul>
				<li><img class="logo" src="/images/lobid.png" alt="lobid"/></li>
				<li><a href="/">Blog</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
		<main>
			<div class="container">
				{{ content }}
			</div>
		</main>
		<footer>
			<ul>
				<li><a href="mailto:semweb@hbz-nrw.de">Contact</a></li>
				<li><a href="https://www.hbz-nrw.de/barrierefreiheit">Accessibility</a></li>
				<li><a href="https://lobid.org">lobid.org</a></li>
				<li><a href="https://github.com/hbz">github.com/hbz</a></li>
				<li><a href="/feed.xml">Feed</a></li>
				<li><a href="https://wiki1.hbz-nrw.de/pages/viewrecentblogposts.action?key=SEM">Old blog (2010-2015)</a></li>
			</ul>
		</footer>
		<script>
			anchors.add();
		</script>
	</body>
</html>
